.container {
    height: 100%;
    overflow: hidden;
    font-weight: 300;
    background-color: white;
}

.mainContainer {
    clear: both;

    img {
        max-width: 100%
    }
    .centerItem {
        text-align: center;
    }
    
    .auctionSection {
        float:left;

        width: 65vw;
        background-color: white;
        overflow: auto;
        height: 100vh;

        .nftItem {
            width:100%;height:0px;position:relative;padding-bottom:100.000%;
        }
        .nftIframe {
            width:100%;height:100%;position:absolute;left:0px;top:0px;overflow:hidden;
        }
    }

    .rightSection {
        background: white;
        float: left;
        width: 30vw;
        overflow-y: scroll;
        height: 100vh;
                
        .mcEmbedSignup {
            background: #fff;
            clear: left;
            font: 14px Helvetica, Arial, sans-serif;

            .mcEmbedSignupScrollItem {
                position: absolute; left: -5000px;
            }
        }

        .logomovie {
            width: 100%;
            background-color: white;
            // overflow: scroll;

            .logomovieItem {
                margin: 30px;
                height:0px;
                position:relative;
                padding-bottom:61.591%;
            }

            .logomovieIframe {
                width:100%;height:100%;position:absolute;left:0px;top:0px;overflow:hidden;
            }
            
        }
                
        .social {
            max-width: 170px;
            height: 55px;
            margin: auto;
            text-align: center;
            display: flex;
        }
        .socialTextContent {
            font-family: "Comic Sans MS", "Comic Sans", "Chalkboard", "ChalkboardSE-Regular", sans-serif;
            font-size: 11px;
            text-align: center;
        }
        .divsocial {
            padding: 5px
        }
    }
}
